<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from radixtouch.in/templates/snkthemes/grexa/source/light/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Dec 2020 17:13:31 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
 

<title>{% block title %} Employees {% endblock %}</title>
{% block stylesheets %}

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{{asset('assets/css/app.min.css')}}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
  <link rel="stylesheet" href="{{asset('assets/css/components.css')}}">
   <link rel="stylesheet" href="{{asset('assets/bundles/bootstrap-social/bootstrap-social.css')}}">
  <link rel="stylesheet" href="{{asset('assets/bundles/flag-icon-css/css/flag-icon.min.css')}}">
  <link rel="stylesheet" href="{{asset('assets/css/app.min.css')}}">
 <link rel="stylesheet" href="{{asset('assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')}}">
  <!-- Custom style CSS -->
 <link rel='shortcut icon' type='image/x-icon' href="{{asset('assets/img/favicon.ico')}}"/>
</head>
   {% endblock%}
<body>

 <div class="loader"></div>
  <h1 class="text-center"></h1>
  {% block body %}

  {% endblock %}
 
  <!-- General JS Scripts -->
  <script src="{{asset('assets/js/app.min.js')}}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{{asset('assets/js/scripts.js')}}"></script>
  
   <!-- JS Libraies -->
   <script src="{{asset('assets/bundles/echart/echarts.js')}}"></script>

   <script src="{{asset('assets/bundles/chartjs/chart.min.js')}}"></script>
   <script src="{{asset('assets/bundles/apexcharts/apexcharts.min.js')}}"></script>
    <!-- Page Specific JS File -->
  <script src="{{asset('assets/js/page/index.js')}}"></script>
</body>
    

<!-- Mirrored from radixtouch.in/templates/snkthemes/grexa/source/light/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Dec 2020 17:13:31 GMT -->
</html>